div{
	display: inline-block;
	position:relative;
	left:450px;

}


p{
	font-size: 20px


}
img{
	width:150px;
	position: relative;
	left:105px;
}
body{
	background-color:black;color:white;width: 800px
}
.menu>li
{
    display:inline-block;
    position:relative;
    font-size:2em;
    margin-left:30px;
}

ul li .sousmenu{
    display: none;
    background:#3B0B17;
}

.menu>li:hover ul
{
    display: inline-block;
    position: absolute;
    left:0px;
    padding: 0;
    top:100%;
    z-index: 1;
}
.menu{
	cursor: pointer;border: 1px solid white;
	padding-right: 55px

}
.defb{
	position:absolute;
	left:670px;
	top:200px;
	font-size: 50px

}
.sousmenu
{
	list-style:none;
}
.picture{
	position: relative
	left:517px;
	width:600px;
	z-index: 0;

}	
a{
	color:white;
}
.txtb{
	position: relative;
	left: 450px;
	top: 320px;
	width: 750px;
}
.imgb{
	margin-left: 480px;
	width: 500px;
	position: absolute;
	margin-top: 150px;

	



}
	
